.a{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(18, 18, 94);
}


.a-left{
 flex: 1;
 display: flex;
 align-items: center;
 justify-content:center ;
 position: relative;
 height: 100%;
}

.a-card.bg{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: rgb(16, 16, 20);
}

.a-right{
 flex: 1;
}    

.a-card{
    width:60% ;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.a-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-award-img{
    width: 220px;
    height: 170px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.a-title{
    font-weight: 400;
}

.a-sub{
    margin: 20px 0px;
}
.a-desc{
   font-weight: 300; 
   width: 90%;
}

.a-award{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a-award-texts{
    width: 55%;
}

.a-award-title{
    font-weight: bold;
    color: rgb(104, 14, 248);
    margin-bottom: 20px;
}